html,body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #64a1c5;
  margin: 0px;
  padding: 0px;
}

.box {
  max-width: 500px;
  margin-left: 500px;
  margin-top: -20px;
  border-radius: 3px;
  background-color: white;
}

h1 {
  color: #7037e9;
  padding: 10px;
}

.box1 {
  flex-direction: column;
  border-radius: 5px;
  background-color: rgb(220, 232, 235);
  background-image: url(icon.png);
  background-repeat: no-repeat;
}

#heading {
  background-color: white;
  text-align: center;
  margin-top: 100px;
  font-size: 18px;
}

input[type="text"] {
  text-align: center;
  height: 40px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 tomato;
}

::placeholder {
  opacity: 0.5;
}

p {
  font-size: 20px;
  margin-left: 80px;
  margin-top: -20px;
}

.round {
  position: relative;
}

.round input[type="checkbox"]:checked + label {
  background-color: #7037e9;
  border-color: #7037e9;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

#b {
  width: 30px;
  height: 30px;
  background-color: #bfdef0;
  border: none;
  border-radius: 10%;
  padding: 0;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: black;
}

#s2 {
  font-size: 20px;
}

form.item {
  text-align: center;
}

.round label {
  background-color: #fff;
  cursor: pointer;
  height: 28px;
  left: 10px;
  border-radius: 50%;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  height: 6px;
  left: 7px;
  opacity: 0;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}
