#root {
  height: 100%;
}

.form_group {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

.ipt {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  align-items: flex-end;
}

.ipt input {
  width: 340px;
  height: 35px;
  background: #FFF;
  border: 1px solid #CED4DA;
  border-radius: 5px;
  margin-top: 5px;
}

.btn button {
  width: 86px;
  height: 40px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  align-items: center;
  background: #1B7FC7;
  font: bold 12px/10px 'Roboto';
  cursor: pointer;

  color: #FFFFFF;  
}
.btn button:hover{
  background: #0a568d;
}