.table {
  width: 100%;
  margin-top: 20px;
  
}

.table table {
  width: 922px;
  
}

.table thead {
  
  background: #000;
  color: #fff;
}

.table tr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 47px;
}

.table th {
  width: 33.33%;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}