.table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.table table {
  width: 100%;
}

.table thead {  
  background: #000;
  color: #fff;
}

.table tr {
  border-bottom: 1px solid #CED4DA;
}

.table th, .table td {
  padding: 15px 10px;
}

.table th {
  text-align: left;
  font-size: 16px;
}

.table th:first-child {
  width: 400px;
}

.item tr {
  border-bottom: 1px solid #ccc;
}

.actions span:last-child {
  color: #ff0000;
}